@import "./assets/css/_colors.css";
@import "./assets/css/_fonts.css";
@import "./assets/css/_icons.css";

html,
body {
  background-color: var(--white);
  font-family: var(--poppins);
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
}

body {
  background-image: url("./assets/images/bg-lcie.svg");
  background-position: center;
  background-size: 1360px;
  background-repeat: repeat;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--kaisei);
  font-style: normal;
  font-weight: 700;
  line-height: 1.3rem;
}

h1 {
  font-size: 1.625rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.125rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
h6 {
  font-size: 0.75rem;
}

p,
.p1,
.p2 {
  font-family: var(--poppins);
  font-style: normal;
}

p {
  font-weight: normal;
  line-height: 1.438rem;
}

.p1,
.p2 {
  font-weight: 300;
  font-size: 0.75rem;
}

.p1 {
  line-height: 1.563rem;
}
.p2 {
  line-height: 0.938rem;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--brand-primary-orange);
}

a.read-more {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 8px;
  color: var(--white);
  font-family: Poppins;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
  width: 190px;
  display: block;
  padding: 0.608rem 0;
  text-decoration: none;
}

a.read-more.center {
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  position: relative;
}

section {
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 100px;
  padding: 50px 0;
  text-align: center;
  border-bottom: 1px solid var(--brand-natural-light-gray);
  position: relative;
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@import "./assets/css/_overwrite.css";
