/* communities */
.card {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.card .ant-card-cover img.card-image {
  border-radius: 8px 8px 0 0;
}

.card .ant-card-body {
  text-align: left;
  font-size: 14px;
}

.card .ant-card-body h4 {
  margin-bottom: 1rem;
}

.card .ant-card-body h4:after {
  content: "";
  width: 145px;
  height: 2px;
  position: absolute;
  left: 24px;
  margin-top: 20px;
  border-bottom: 2px solid var(--primary-color);
}

.card .ant-card-body p a {
  color: var(--primary-color);
  margin-left: 0.5rem;
}
